header {
	width: 100%;
    background-color: red;
    height: 85px;

}
main{

width: 70%;

height: 300px;

background-color: antiquewhite;

float: left;
}
.sidebar{

background-color: aqua;

width: 30$;

width: 30%;

height: 300px;

float: left;
}
footer{
	
background-color: blue;
	
width: 100%;
	
height: 64px;
	
clear: both;
}