.TableList {
    width: 50%;
}

tr, td {
    height: 50px;
}

tr:nth-child(even) {
    background-color: #eeeeee;
}

thead {
    text-align: center;
}

.button {
    background-color: dodgerblue;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
}

.buttonAdd {
    background-color: darkgreen;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.delButton {
    background-color: red;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button:hover {
    padding: 13px 23px;
}

#addStd {
    display: none;
}

#editStd {
    position: fixed;
    width: 100%;
    height: 0;
    overflow: hidden;
    background: rgba(1, 1, 1, 0.5);
    opacity: 0;
    transition: opacity ease 0.5s;
    top: 0;
    left: 0;
}

#editStd table {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 30px;
    box-shadow: 0 0 10px #333;
}

#delStd {
    margin-left: 25%;
}

.editBtt {
    background-color: goldenrod;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.editBtt:hover {
    padding: 13px 23px;
}

#keyword {
    border: 1px solid black;
    padding: 10px 20px;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
}

.buttonSearch {
    background-color: black;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}