body{
	font-family: Arial;
}
.menu{
	height: 50px;
	background-color: #75d4e1;
	border: 1px solid #CDCDCD;
}
.menu ul, .menu li{
    padding:0;
    margin:0;
}
.menu li{
    position: relative;
    float: left;
    list-style: none;
    margin: 0;
    padding:0;
    padding: 11px;
}
.menu li a {
	width: 159%;
	height: 28px;
	display: block;
	text-decoration:none;
	text-align: center;
	line-height: 30px;
	/* background-color: green; */
	/* color: white; */
	/* padding: 20px; */
}
.menu ul ul li a{
	width: 200px;
	text-align: left;
	padding-left: 10px;
}
.menu li a:hover{
     background-color: #9ff2f6 ;
}
.menu ul ul{
    position: absolute;
    top: 30px;
    left: 15px;
    visibility: hidden;
}
.menu ul li:hover ul{
    visibility: visible;
}